{# src/BanqueBundle/Resources/view/Banque/base-banque.html.twig #}

{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} | BANQUE {% endblock %}
{% block menu_left %}
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <div class="menu-scroll">
                <ul class="nav metismenu side-menu" id="side-menu">
                    {% if is_granted('ROLE_CGP_BANQUE') %}
                        {# <li>
                            <a href="{{ path('banque_dashboard') }}" title="Tableau de bord"><i class="fa fa-dashboard"></i> <span
                                        class="nav-label">Tableau de bord</span></a>
                        </li> #}
                        <li>
                            <a href="#" title="Pilotage banque"><i class="fa fa-th-large"></i> <span
                                        class="nav-label"> Pilotage </span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{{ path('banque_state_image') }}">Situation des images</a></li>
                                <li><a href="{{ path('banque_statistique') }}">Statistique</a></li>
                                <li><a href="{{ path('banque_productivite') }}">Productivité</a></li>
                                {# <li><a href="{{ path('banque_lot') }}">Affectation des lots</a></li> #}
                                <li><a href="{{ path('banque_tableau_controle') }}">Tableau de contrôle</a></li>
                            </ul>
                        </li>
                    {% endif %}
					<li>
						<a href="{{ path('banque_affectation') }}" title="Affectation lots"><i class="fa fa-tags"></i> <span class="nav-label">Affectation panier</span></a>
                    </li>
					<li>
                        <a href="{{ path('banque_saisie') }}" title="Saisie 1"><i class="fa fa-edit"></i> 
						<span class="nav-label">Saisie RB 1</span></a>
                    </li>
					<li>
                        <a href="{{ path('banque_saisie', {'etape': 2, 'releve': 1}) }}" title="saisie 2"><i class="fa fa-list-alt"></i>
						<span class="nav-label">Saisie RB 2</span></a>
                    </li>
					<li>
                        <a href="{{ path('banque_saisie',{'etape': 1, 'releve': 0}) }}" title="Saisie 1"><i class="fa fa-edit"></i>
						<span class="nav-label">Saisie OB</span></a>
                    </li>					
                    <li>
                        <a href="{{ path('banque_controle_rb') }}" title="Controle RB"><i class="fa fa-check-square"></i> 
						<span class="nav-label">Contrôle RB</span></a>
                    </li>
					<li>
                        <a href="{{ path('banque_controle_ob') }}" title="Controle OB"><i class="fa fa-check-square"></i> 
						<span class="nav-label">Contrôle OB</span></a>
                    </li>
					<li>
                        <a href="#" title="BANQUES"><i class="fa fa-university" aria-hidden="true"></i>
						<span class="nav-label">Banques</span>&nbsp;<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li class="cl_picdata" data-lien="banque_controle_releve"><a href="#">Controle&nbsp;Relev&eacute;</a></li>
                            <li class="cl_picdata" data-lien="banque_2"><a href="#">Rapprochement de banque</a></li>
                            <li class="cl_picdata" data-lien="banque_pm"><a href="#">Pieces&nbsp;manquantes</a></li>
                        </ul>
                    </li>	
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block menu_top_center %}
    {{ include('AppBundle:Commun:user-app-office.html.twig') }}
    <li><a href="#">Picbank</a></li>
    <li><a href="#">OCR</a></li>
{% endblock %}
