{% extends '@App/index/base-menu-intranet.html.twig' %}

{% block title %} {{ parent() }} | Agenda {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/fullcalendar/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/revision/css/revision.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('js/plugins/fullcalendar/gcal.min.js') }}"></script>
    <script src="{{ asset('js/plugins/fullcalendar/locale/fr.js') }}"></script>
    <script src="{{ asset('bundles/revision/js/agenda2/filtre.js') }}"></script>
    <script src="{{ asset('bundles/revision/js/agenda2/index.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="white-bg" style="padding: 20px 10px 10px;position: relative;">
        <div id="test_calendar"></div>


        <div id="loader" style="padding-top: 5px;"></div>
        <div id="calendar" class="white-bg" style="margin-right: 30px;"></div>

        {#Modal Détails Tâches#}
        {#<div id="calendar-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><span id="calendar-modal-title">Agenda</span>
                            <span id="calendar-modal-loader" style="margin-left: 15px;"><i class="fa fa-fw fa-spinner fa-spin fa-lg"></i></span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table id="table-tache-list" class="js-jqgrid-table"></table>
                        <div id="pager_tache_list"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" style="min-width: 120px;">OK</button>
                    </div>
                </div>
            </div>
        </div>#}

        <div id="config-container" class="theme-config" style="right: -60px;">
            <div class="theme-config-box">
                <div id="config-handle-icon" class="spin-icon">
                    <i class="fa fa-arrow-left"></i>
                </div>
                <div class="skin-setttings">
                    <div class="title">Liste Agenda</div>
                    <div style="height: 500px;overflow-y: auto;">
                        {% for client in clients %}
                            <div class="agenda-select-item">
                                <label> <input type="checkbox" class="i-checks agenda-select-check" data-id="{{ client.id }}"> {{ client.nom }} </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}