{# src/ParametreBundle/Resources/views/Parametre/Organisation/index.html.twig #}

{% extends '@App/index/base-menu-intranet.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/plugins/chosen/chosen.min.css') }}" rel="stylesheet">
    {% stylesheets filter='scssphp' filter='cssrewrite'
        '@ParametreBundle/Resources/public/css/organisation.css'
    %}

    <link rel="stylesheet" href="{{ asset_url }}"/>

    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/chosen/chosen.jquery.min.js') }}"></script>

    {% javascripts filter='?jsqueeze'
        'js/plugins/nestable/jquery.nestable.js'
        '@ParametreBundle/Resources/public/js/organisation_parametre.js'
    %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block title %}
    {{ parent() }} PARAMETRE ORGANISATION
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div id="org-niveau">
                <div class="ibox collapsed">
                    <div class="ibox-title">
                        <h5>
                            Niveau pour affectation des postes aux personnes
                            <i id="loader1" class="loader pull-right fa fa-spinner fa-spin fa-lg fa-fw fa-pulse" style="display: none;"></i>
                        </h5>
                        <div class="ibox-tools">
                            <div class="btn-group" role="group" aria-label="..." style="margin-top: -3px;">
                                <label  class="btn btn-xs btn-primary">
                                    {% for titre in titres %}
                                        {% set checked = '' %}
                                        {% if titre.isPoste %}
                                            {% set checked = 'checked' %}
                                        {% endif %}
                                        {% if checked == 'checked' %}
                                            {{ titre.titre }}
                                        {% endif %}
                                    {% endfor %}
                                </label>
                            </div>
                            &nbsp;
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content" style="padding-top:5px;padding-bottom:5px">
                        <ul class="list-group" id="org-niveau-list">
                            {% for titre in titres %}
                                {% set checked = '' %}
                                {% if titre.isPoste %}
                                    {% set checked = 'checked' %}
                                {% endif %}
                                <li class="list-group-item" data-id="{{ titre.id }}" data-rang="{{ titre.rang }}" style="padding-top:3px; padding-bottom:3px">
                                    <div class="switch pull-right">
                                        <div class="onoffswitch">
                                            <input type="checkbox" {{ checked }} class="onoffswitch-checkbox affectation-personne" id="switch-{{ titre.id }}">
                                            <label class="onoffswitch-label" for="switch-{{ titre.id }}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <i class="fa fa-arrows-v"></i> {{ titre.titre }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {#<h4 class="bg-info padding-6">
                Etapes de traitement et Postes
                <div class="btn-group" role="group" aria-label="..." style="margin-top: -3px;">
                    <button id="btn-add-processus" type="button" class="btn btn-xs btn-info">
                        <i class="fa fa-plus"></i> Ajouter
                    </button>
                </div>
                <i id="loader2" class="loader pull-right fa fa-spinner fa-spin fa-lg fa-fw fa-pulse" style="display: none;"></i>
                <div class="btn-group pull-right" role="group" aria-label="..." style="margin-top: -3px;">
                    <button id="btn-save-poste-affect" type="button" class="btn btn-xs btn-info" disabled>
                        <i class="fa fa-save"></i> Enregistrer
                    </button>
                </div>
            </h4>
            <div class="row">
                <div class="col-sm-6" id="etape-traitement">

                    <ul class="list-group">
                        {% for etape in etapes %}
                            <li class="list-group-item etape-item" data-id="{{ etape.id }}" data-code="{{ etape.code }}">
                                {{ etape.libelle }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-group" id="poste">

                    </ul>
                </div>
            </div>#}
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Gestion processus
                    </h5>
                    <div class="ibox-tools">

                        <i id="loader2" class="loader pull-right fa fa-spinner fa-spin fa-lg fa-fw fa-pulse" style="display: none;"></i>

                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content ">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-processus" aria-expanded="true"><i class="fa fa-tasks"></i> Processus</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-processus-poste" aria-expanded="false" id="id-tab-processus-poste">
                                    <i class="fa fa-tasks"></i><i class="fa fa-link"></i> Processus par poste/Menus</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-processus" class="tab-pane active">

                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <h5>
                                                Liste processus

                                            </h5>
                                            <div class="ibox-tools">
                                                <div class="btn-group" role="group" aria-label="..." style="margin-top: -3px;">
                                                    <button id="btn-refresh-processus" type="button" class="btn btn-xs btn-primary pull-right" title="Rafraîchir">
                                                        <i class="fa fa-refresh"></i>
                                                    </button>
                                                    <span class="pull-right">|</span>
                                                    <button id="btn-add-processus" type="button" class="btn btn-xs btn-primary">
                                                        <i class="fa fa-plus"></i> Ajouter un processus
                                                    </button>
                                                </div>
                                                <i id="loader2" class="loader pull-right fa fa-spinner fa-spin fa-lg fa-fw fa-pulse" style="display: none;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content ibox-content-processus" style="padding-top:5px;padding-bottom:5px">
                                        <input id="nestable-output" type="hidden">
                                        <div class="liste-processus" id="nestable-processus" >
                                            <ol class="list">
                                                {% set idx = 1 %}
                                                {% for key, value in processus %}
                                                    <li class="dd-item" data-id="{{ idx }}" >
                                                        {% set codeParent = "" %}

                                                        <div class="dd-handle parent-processus" data-parent="{{ key }}" >
                                                            <i class="fa fa-minus btn-expand" id="btn-expand-{{ key }}" data-parent="{{ key }}" data-expand="1"></i>&nbsp;
                                                            <strong style="font-size: large; color: #2f2f2f">[
                                                            {% if value.parent_rang|length == 1 %}
                                                                P{{ 0~value.parent_rang }}
                                                                {% set codeParent = 0~value.parent_rang  %}
                                                            {% else %}
                                                                P{{ value.parent_rang }}
                                                                {% set codeParent = value.parent_rang  %}
                                                            {% endif %}
                                                                ] {{ value.parent_nom }}</strong>&nbsp;&nbsp;<span class="label label-default expand-process" data-parent="{{ key }}" data-expand="0"><i class="fa fa-plus"></i>&nbsp;Déplier tout</span>


                                                            <span class="btn btn-danger pull-right btn-xs btn-remove-processus"  title="Supprimer ce Processus"
                                                                  data-id="{{ key }}">
                                                                <i class="fa fa-trash"></i>
                                                            </span>
                                                            <span class="pull-right">&nbsp;&nbsp;</span>

                                                            <span class="btn btn-warning pull-right btn-xs" id="btn-edit-processus" title="Modifier ce Processus"
                                                                  data-id="{{ key }}"
                                                                    data-nom="{{ value.parent_nom }}"
                                                                    data-rang="{{ value.parent_rang }}">
                                                                <i class="fa fa-edit"></i>
                                                            </span>

                                                            <span class="pull-right">&nbsp;&nbsp;</span>
                                                            <span data-processus="{{ key }}" class="btn btn-primary pull-right btn-xs" id="btn-add-process" title="Ajouter un process">
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </div>
                                                        <ol class="list processus-fils-{{ key }}">
                                                        {% for keydet, valueDet in value.details %}
                                                                {% set idx = idx + 1 %}

                                                                <li class="dd-item" data-id="{{ idx }}">
                                                                    {% set codeFils = valueDet.rang %}
                                                                    {% if codeFils|length == 1 %}
                                                                        {% set codeFils = 0~codeFils %}
                                                                    {% else %}
                                                                        {% set codeFils = codeFils %}
                                                                    {% endif %}
                                                                    <div class="dd-handle row">
                                                                            <div class="row">
                                                                                <div class="col-sm-4">
                                                                                    <i class="fa fa-plus btn-expand-detail id-parent-{{ key }}" id="btn-expand-detail-{{ valueDet.id }}" data-id={{ valueDet.id }} data-parent="{{ key }}" data-expand="0"></i>&nbsp;
                                                                                    <strong> [{{ codeParent ~ codeFils }}] {{ valueDet.nom }}</strong>
                                                                                </div>
                                                                                <div class="col-sm-8">
                                                                                    <span class="btn btn-danger pull-right btn-xs" id="btn-remove-process" title="supprimer ce process"
                                                                                          data-id="{{ valueDet.id }}">
                                                                                    <i class="fa fa-trash"></i>
                                                                                    </span>
                                                                                        <span class="pull-right">&nbsp;&nbsp;</span>
                                                                                        <span class="btn btn-warning pull-right btn-xs" id="btn-edit-process" title="Modifer ce process"
                                                                                              data-id="{{ valueDet.id }}"
                                                                                              data-nom="{{ valueDet.nom }}"
                                                                                              data-rang="{{ valueDet.rang }}"
                                                                                              data-processus="{{ key }}">
                                                                                        <i class="fa fa-edit"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row expand-detail detail-de-{{ key }} hidden" id="expand-detail-{{ valueDet.id }}">
                                                                                <div class="col-sm-4">
                                                                                    <ul class="list-group-item fist-item">
                                                                                        <li class="list-group-item">
                                                                                            <span class="label label-info"><i class="fa fa-thermometer-0"></i></span>&nbsp;Unité d'oeuvre:
                                                                                            <span class="pull-right" id="unite-oeuvre-{{ valueDet.id }}">{{ valueDet.unite_oeuvre_nom }}</span>
                                                                                        </li>
                                                                                        <li class="list-group-item">
                                                                                            <span class="label label-default"><i class="fa fa-clock-o"></i></span>&nbsp;Temps traitement:
                                                                                            <span class="pull-right" id="temps-trait-{{ valueDet.id }}">{{ valueDet.temps_trait }}</span>
                                                                                        </li>
                                                                                        <li class="list-group-item">
                                                                                            <span class="label label-primary"><i class="fa fa-gear"></i></span>&nbsp;
                                                                                            Process antérieure:
                                                                                            <span class="pull-right" id="process-ant-{{ valueDet.id }}">{{ valueDet.process_ant_nom }}</span>
                                                                                        </li>
                                                                                        <li class="list-group-item">
                                                                                            <span class="label label-warning"><i class="fa fa-gear"></i></span>&nbsp;
                                                                                            Process postérieure:
                                                                                            <span class="pull-right" id="process-post-{{ valueDet.id }}">{{ valueDet.process_post_nom }}</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="col-sm-8">
                                                                                    <div class="ibox">
                                                                                        <div class="ibox-content"  style="height: 150px; margin:10px">
                                                                                            <h3>Description du process</h3>

                                                                                            <p>{{ valueDet.description }}</p>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>


                                                                    </div>
                                                                </li>

                                                        {% endfor %}
                                                        </ol>
                                                    </li>
                                                    {% set idx = idx + 1 %}
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </div>

                            </div>
                            <div id="tab-processus-poste" class="tab-pane">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Relation Processus/Poste/Menu</h5>
                                        <div class="ibox-tools">
                                            <button id="btn-save-relation" class="btn btn-sm btn-primary">
                                                <i class="fa fa-save"></i> Save
                                            </button>
                                            <button id="btn-refresh-relation" class="btn btn-sm" style="margin-right: 50px;">
                                                <i class="fa fa-refresh"></i> Rafraîchir
                                            </button>
                                        </div>
                                    </div>
                                    <div class="ibox-content" style="padding:0px;">
                                        <div id="content-processus-poste-menu" style="height: 400px; overflow-y: auto">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}