{# src/ParametreBundle/Resources/views/Parametre/Cellule/cellule.html.twig #}

{% extends '@App/index/base-menu-intranet.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        '@ParametreBundle/Resources/public/js/cellule.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    {{ parent() }} CELLULES
{% endblock %}

{% block content %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Gestion des cellules</h5>

            <div class="ibox-tools">
                <button id="btn-add-cellule" class="btn btn-sm btn-primary" style="margin-right: 50px;">
                    <i class="fa fa-plus-circle"></i> Ajouter une cellule
                </button>
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            {#Liste des Cellules chargé avec AJAX#}
            <table id="js_cellule_liste"></table>
            <div id="pager_liste_cellule"></div>
        </div>
    </div>
    {# Modal pour ajouter ou modifier une Cellule #}
    <div class="modal fade" tabindex="-1" role="dialog" id="cellule-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 id="modal-cellule-title" class="modal-title">Ajouter une cellule</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" id="add-cellule-erreur">

                    </div>
                    <form class="form-horizontal">
                        <input type="hidden" id="add-cellule-id">

                        <div class="form-group">
                            <label for="add-cellule-entite" class="col-sm-3 control-label">Entité</label>

                            <div class="col-sm-6">
                                <select id="add-cellule-entite" class="form-control">
                                    <option value="0">Séléctionner l'entité</option>
                                    {% for entite in entites %}
                                        <option value="{{ entite.id }}">{{ entite.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-cellule-departement" class="col-sm-3 control-label">Département</label>

                            <div class="col-sm-6">
                                <select id="add-cellule-departement" class="form-control">
                                    <option value="0">Séléctionner le département</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-cellule-service" class="col-sm-3 control-label">Service</label>

                            <div class="col-sm-6">
                                <select id="add-cellule-service" class="form-control">
                                    <option value="0">Séléctionner le service</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-cellule-nom" class="col-sm-3 control-label">Nom</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="add-cellule-nom" placeholder="nom"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-cellule-code" class="col-sm-3 control-label">Code cellule</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="add-cellule-code" placeholder="code"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-cellule-description" class="col-sm-3 control-label">Description</label>

                            <div class="col-sm-9">
                                <textarea class="form-control" id="add-cellule-description" rows="8"
                                          placeholder="description"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-sm btn-primary" id="btn-add-cellule-save">Enregistrer
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}