<div id="stat-reception-jour">
    <div class="panel panel-info">
        <div class="panel-heading">
            RECEPTION
        </div>
        <div class="panel-body" style="overflow-x:auto">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th class="text-center">Arrivés J</th>
                    <th class="text-center">Arrivés J-1</th>
                    <th class="text-center">Arrivés J-2</th>
                    <th class="text-center">Arrivés J-3</th>
                    <th class="text-center">Arrivés J-4</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>{{ image.title }}</td>
                        <td class="text-center">{{ image.j != 0 ? image.j|number_format(0, ',', '&nbsp;')|raw : '-' }}</td>
                        <td class="text-center">{{ image.j_1 != 0 ? image.j_1|number_format(0, ',', '&nbsp;')|raw : '-' }}</td>
                        <td class="text-center">{{ image.j_2 != 0 ? image.j_2|number_format(0, ',', '&nbsp;')|raw : '-' }}</td>
                        <td class="text-center">{{ image.j_3 != 0 ? image.j_3|number_format(0, ',', '&nbsp;')|raw : '-' }}</td>
                        <td class="text-center">{{ image.j_4 != 0 ? image.j_4|number_format(0, ',', '&nbsp;')|raw : '-' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>