
{% extends '@App/index/base-menu-intranet.html.twig' %}

{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('bundles/app/js/commun.js') }}"></script>
    <script src="{{ asset('bundles/banque/js/banque.js') }}?v=1.2.7"></script>
    <script src="{{ asset('bundles/banque/js/banque_imputee.js') }}?v=1.2.7"></script>
	<script src="{{ asset('bundles/banque/js/commun_saisie.js')}}?v=1.2.7"></script>
    {% if releve == 1 %}
        <script src="{{ asset('bundles/banque/js/banque_saisie.js') }}?v=1.2.6"></script>
    {% else %}
        <script src="{{ asset('bundles/banque/js/banque_ob.js') }}?v=1.3.3"></script>
    {% endif %}
    <script src="{{ asset('js/plugins/pdf/pdfobject.min.js') }}"></script>
	<script src="{{ asset('js/plugins/typeahead/bootstrap3-typeahead.min.js') }}"></script>
	<script src="{{ asset('js/plugins/viewer/viewer.js') }}"></script>
	<script src="{{ asset('js/plugins/jsTree/jstree.min.js') }}"></script>
	<script src="{{ asset('js/plugins/fileinput/fileinput.min.js') }}"></script>
	<script src="{{ asset('js/plugins/fileinput/locales/fr.js') }}"></script>
	<script src="{{ asset('js/plugins/fileinput/themes/fa/theme.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/plugins/daterangepicker/daterangepicker-bs3.css')}}">
	<link rel="stylesheet" href="{{ asset('css/plugins/viewer/viewer.css')}}?v=1.2.3">
	<link rel="stylesheet" href="{{ asset('bundles/banque/css/banque.css')}}?v=1.2.4">
	<link rel="stylesheet" href="{{ asset('css/plugins/jsTree/style.min.css')}}">
	<link rel="stylesheet" href="{{ asset('css/plugins/fileinput/fileinput.min.css')}}">
{% endblock %}
{% block title %}{{ parent() }} - Saisie{% endblock %}

{% block content %}
  <div class="modal" id="myModal"  role="dialog" aria-hidden="true" style="overflow: hidden;">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
				<div class="row">

					{# <embed src="https://drive.google.com/viewerng/
viewer?embedded=true&url=http://example.com/the.pdf" width="500" height="375"> #}

					<div class="col-md-4">
						<div class="col-md-2">
							<div class="row">
								<a href="#" id="minfos" role="button" class="btn btn-default btn-block"><i class="fa fa-info-circle"></i></a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="row">
								<a href="#" id="mdupliquer" role="button" class="btn btn-warning btn-block"><i class="fa fa-copy"></i></a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="row">
								<a href="#" id="mrecategorisastion" role="button" class="btn btn-info btn-block"><i class="fa fa-undo"></i></a>
							</div>
						</div>

						<div class="col-md-4 hidden">
							<form class="form-horizontal" enctype="multipart/form-data">
								<div class="form-group">
									<div class="col-md-12">
										<input type="file" class="form-control" name="upload" id="obexcel-lcr" multiple>
									</div>
								</div>
							</form>
						</div>

						<div class="col-md-4 hidden">
							<form class="form-horizontal" enctype="multipart/form-data">
								<div class="form-group">
									<div class="col-md-12">
										<input type="file" class="form-control" name="upload" id="obexcel-ccr" multiple>
									</div>
								</div>
							</form>
						</div>

						<div class="col-md-4 hidden">
							<form class="form-horizontal" enctype="multipart/form-data">
								<div class="form-group">
									<div class="col-md-12">
										<input type="file" class="form-control" name="upload" id="obexcel-chq" multiple>
									</div>
								</div>
							</form>
						</div>

						<div class="col-md-4 hidden">
							<form class="form-horizontal" enctype="multipart/form-data">
								<div class="form-group">
									<div class="col-md-12">
										<input type="file" class="form-control" name="upload" id="obexcel-remise" multiple>
									</div>
								</div>
							</form>
						</div>

						<div class="col-md-4">
							<div class="row">
								<a href="#" id="mfini" class="btn btn-primary">	<i class="fa fa-check-circle"></i>&nbsp;&nbsp;Lot Fini</a>
							</div>
						</div>
					</div>

					<div class="col-md-5" id="panier-list"></div>


					<div class="col-md-3">
						<div class="col-md-1 pull-right no-padding">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="col-md-11 pull-right"></div>
						<h5 class="pull-right" id="js_titre">Client | Dossier | Exercice | Lot</h5>
					</div>
				</div>



				<div class="row">
					<div class="col-lg-12" style="margin-top:3px";>
						<div class="ibox float-e-margins" style="margin-bottom:0px!important;display:none;" id="iperdos">

						</div>  
					</div>
				</div>
            </div>
            <div class="modal-body p-4" id="result" style="min-height:550px;overflow-y: auto;">
                    <div class="row">
						<div id="mySidenav" class="col-lg-1" style="overflow: auto;">

						</div>

                        <div class="col-lg-5 no-padding" id="pdf-resize">
                            <div id="pdf"></div>
                            <input type="hidden" id="pdfc" value=""/>
                        </div>

                        <div class="col-lg-6" id="form-resize" style="margin-right: 0 !important;">
							<div class="row">
                                <form class="form-horizontal">
                                    <div class="row commun-container">
                                            {{ include('@Banque/Banque/saisie/saisie_recategorisation.html.twig') }}
                                    </div>

                                    <div class="row commun-container">
                                        {{ include('@Banque/Banque/saisie/saisie_commun.html.twig') }}
                                    </div>


                                    <div class="ob-container" id='relevebancaire'>
                                        {{ include('@Banque/Banque/saisie/saisie_releve.html.twig') }}
                                    </div>

                                    <div class="ob-container" id='virement'>
                                        {{ include('@Banque/Banque/saisie/saisie_virement.html.twig') }}
                                    </div>

                                    <div class="ob-container" id='remisebanque'>
                                        {{ include('@Banque/Banque/saisie/saisie_remise_banque.html.twig') }}
                                    </div>

                                    <div class="ob-container" id='lcrbanque'>
                                        {{ include('@Banque/Banque/saisie/saisie_lcr.html.twig') }}
                                    </div>

                                    <div class="ob-container" id="cartecreditreleve">
                                        {{ include('@Banque/Banque/saisie/saisie_carte_credit_releve.html.twig') }}
                                    </div>

                                    <div class="ob-container" id="cartedebit">
                                        {{ include('@Banque/Banque/saisie/saisie_carte_debit.hml.twig') }}
                                    </div>

                                    <div class="ob-container" id="cartecredit">
                                        {{ include('@Banque/Banque/saisie/saisie_carte_credit.html.twig') }}
                                    </div>

                                    <div class="ob-container" id='autres'>
                                        {{ include('@Banque/Banque/saisie/saisie_autre.html.twig') }}
                                    </div>
                                </form>

							</div>

                        </div>

                    </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>	
<div class="row ibox-content">
	{{ include('@Banque/Banque/saisie/saisie_filtre.html.twig') }}
</div>

<div class="modal" id="sobank-modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-md-offset-11 col-md-1">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				{{ include('BanqueBundle:Banque/saisie:saisie_releve_sobank.html.twig', {'scRel' : null , 'scSb' : null}) }}
			</div>
		</div>
	</div>
</div>


<div class="modal" id="desassemble-modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-md-offset-11 col-md-1">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
			<div class="modal-body" style="min-height: 300px;">
				{{ include('@Banque/Banque/saisie/saisie_desassemble.html.twig') }}
			</div>
		</div>
	</div>
</div>


<div class="modal" id="duplique-modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-md-offset-11 col-md-1">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
			<div class="modal-body" style="min-height: 300px;">
				{{ include('@Banque/Banque/saisie/saisie_duplique.html.twig') }}
			</div>
		</div>
	</div>
</div>

<div class="modal" id="recategorisation-modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-md-offset-11 col-md-1">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
			<div class="modal-body" style="min-height: 300px;">
                {{ include('@Banque/Banque/saisie/recategorisation_filtre.html.twig') }}
			</div>
		</div>
	</div>
</div>

{% endblock %}