<div class="panel-heading">
    Situation des facturettes
</div>
<div class="panel-body">
    <table class="table table-hover">
        <tbody>
        <tr>
            <td>Total Facturettes</td>
            <td>{{ nbFacturette }}</td>

        </tr>
        <tr>
            <td>NDF Récap</td>
            <td>{{ nbRecap }}</td>

        </tr>
        <tr>
            <td>Facturettes rapprochées</td>
            <td>{{ nbImageRapprochee }}</td>
        </tr>
        <tr>
            <td>Reste à rapprocher</td>
            <td>{{ nbImageARapprocher }}</td>
        </tr>
        <tr>
            <td>En achat</td>
            <td>{{ nbEnAchat }}</td>
        </tr>
        <tr>
            <td>En NDF</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>